In [1]:
import pandas as pd
import EDA

EDA lib ready

In [2]:
attack =  pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\trabajo_interdisciplinar\df_ready\data_final_categorical.csv')
attack.head(1)

,Unnamed: 0,date,time,duration,source,src_port,destination,dest_port,protocol,length,info,type_of_attack,machine,exito,attack,flag,lb_protocol,lb_type_of_attack,lb_machine,lb_flag
0,0,"Jul 13, 2020 15:28:31.152545818 CEST",60.924132,49.202835,10.0.2.15,37232,10.0.2.13,80,TCP,74,37232 > 80 [SYN] Seq=0 Win=64240 Len=0 MSS=1...,Dirbuster,DVL,1,1,SYN,60,1,1,53

In [3]:
attack.lb_machine.value_counts()

0    377720
5    128238
1     73113
3     50081
2     43872
4     20275
Name: lb_machine, dtype: int64

In [40]:
labels = attack[['machine', 'lb_machine']]

In [41]:
labels['machine'] = labels['machine'].drop_duplicates(keep = 'first')
labels = labels.dropna()

In [42]:
labels['machine'].loc[labels['machine'] == 0] = 'Unknown Machine'
labels = labels.drop(315579)

In [43]:
labels = labels.reset_index(drop = True)

In [44]:
labels

             machine  lb_machine
0                DVL           1
1    metaesplotable2           5
2    metaesploitable           4
3               DVWA           2
4  Windowsploitable7           3
5    Unknown Machine           0

In [46]:
EDA.df_save(labels)