In [2]:
import pandas as pd
import EDA

EDA lib ready

In [3]:
attack =  pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\trabajo_interdisciplinar\df_ready\whole_encoded.csv')

In [4]:
normal_traff = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\trabajo_interdisciplinar\df_ready\normal_traff.csv')

In [5]:
attack.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'date', 'time', 'duration', 'source',
       'src_port', 'destination', 'dest_port', 'protocol', 'length', 'info',
       'attack', 'flag', 'lb_protocol'],
      dtype='object')

In [6]:
normal_traff.columns

Index(['Unnamed: 0', 'date', 'time', 'duration', 'source', 'src_port',
       'destination', 'dest_port', 'protocol', 'length', 'info', 'attack'],
      dtype='object')

In [7]:
attack.lb_protocol.value_counts()

60    528381
17     71674
64     30105
63     26535
62     17024
       ...
40         1
42         1
44         1
48         1
0          1
Name: lb_protocol, Length: 68, dtype: int64

In [8]:
attack.attack.value_counts()

0    377720
1    315579
Name: attack, dtype: int64

In [9]:
attack.iloc[:, 11:]

,info,attack,flag,lb_protocol
0,37232 > 80 [SYN] Seq=0 Win=64240 Len=0 MSS=1...,1,SYN,60
1,"80 > 37232 [SYN, ACK] Seq=0 Ack=1 Win=5792 L...",1,"SYN, ACK",60
2,37232 > 80 [ACK] Seq=1 Ack=1 Win=64256 Len=0...,1,ACK,60
3,"37232 > 80 [FIN, ACK] Seq=1 Ack=1 Win=64256 ...",1,"FIN, ACK",60
4,"80 > 37232 [FIN, ACK] Seq=1 Ack=2 Win=5792 L...",1,"FIN, ACK",60
...,...,...,...,...
693294,44266 > 80 [ACK] Seq=380 Ack=704 Win=63882 L...,0,ACK,60
693295,"443 > 35746 [FIN, ACK] Seq=4026 Ack=1186 Win...",0,"FIN, ACK",60
693296,"443 > 58804 [FIN, ACK] Seq=4248 Ack=1304 Win...",0,"FIN, ACK",60
693297,35746 > 443 [ACK] Seq=1186 Ack=4027 Win=6278...,0,ACK,60
693298,58804 > 443 [ACK] Seq=1304 Ack=4249 Win=6278...,0,ACK,60

In [10]:
attack.shape

(693299, 15)

In [11]:
attack.insert(10, "attack", 1)

ValueError: cannot insert attack, already exists

In [12]:
attack.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'date', 'time', 'duration', 'source',
       'src_port', 'destination', 'dest_port', 'protocol', 'length', 'info',
       'attack', 'flag', 'lb_protocol'],
      dtype='object')

In [13]:
normal_traff.columns

Index(['Unnamed: 0', 'date', 'time', 'duration', 'source', 'src_port',
       'destination', 'dest_port', 'protocol', 'length', 'info', 'attack'],
      dtype='object')

In [14]:
objs = normal_traff, attack

# traff = pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None,levels=None, names=None, verify_integrity=False, copy=True)

In [15]:
# EDA.df_save(traff)