In [1]:
import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
%matplotlib inline

In [42]:
df = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\trabajo_interdisciplinar\simulacro_ataque_24-06.csv', error_bad_lines=False)
df.head()

b'Skipping line 25118: expected 4 fields, saw 7\nSkipping line 25137: expected 4 fields, saw 6\nSkipping line 25159: expected 4 fields, saw 6\n'

,1,Unnamed: 1,Unnamed: 2,Who has 10.0.2.25? Tell 10.0.2.6
0,2,NaN,NaN,10.0.2.25 is at 00:50:56:fc:6f:0d
1,3,"10.0.2.6,10.0.2.25","User Datagram Protocol, Src Port: 68, Dst Port...",DHCP Request - Transaction ID 0xa8ac8ab8
2,4,"10.0.2.25,10.0.2.6","User Datagram Protocol, Src Port: 67, Dst Port...",DHCP ACK - Transaction ID 0xa8ac8ab8
3,5,"10.0.2.6,10.0.2.2","User Datagram Protocol, Src Port: 35855, Dst P...",Standard query 0xe08e A www.eff.org
4,6,"10.0.2.6,10.0.2.2","User Datagram Protocol, Src Port: 35855, Dst P...",Standard query 0x51fc AAAA www.eff.org

In [43]:
def general_info (df):
    """
                        ---What it does--
    This function checks the info, columns and shape of the df, printing them. Also it checks the presence of NaNs values on the df and prints them in case it founds them.

                        ---What it needs---
    A df object
    """


    # df columns info
    print('-dtype, length and name of columns-')
    print(df.info())
    print()
    print(df.columns)
    print()
    print(df.shape)
    print()

    # Presence of NaNs in df
    need_to_print =  False
    nulls = df.isnull().any()
    print('-Presence of NaNs in df-')
    print (nulls)
    for e in list(nulls):
        if e == True:
            need_to_print = True
    if need_to_print == True:
        print()
        print('-Number of NaNs in df-')
        print (df.isnull().sum() )

In [44]:
general_info(df)

-dtype, length and name of columns-
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31809 entries, 0 to 31808
Data columns (total 4 columns):
1                                   31809 non-null int64
Unnamed: 1                          31493 non-null object
Unnamed: 2                          1288 non-null object
Who has 10.0.2.25? Tell 10.0.2.6    31809 non-null object
dtypes: int64(1), object(3)
memory usage: 994.2+ KB
None

Index(['1', 'Unnamed: 1', 'Unnamed: 2', 'Who has 10.0.2.25? Tell 10.0.2.6'], dtype='object')

(31809, 4)

-Presence of NaNs in df-
1                                   False
Unnamed: 1                           True
Unnamed: 2                           True
Who has 10.0.2.25? Tell 10.0.2.6    False
dtype: bool

-Number of NaNs in df-
1                                       0
Unnamed: 1                            316
Unnamed: 2                          30521
Who has 10.0.2.25? Tell 10.0.2.6        0
dtype: int64

In [55]:
df.columns = ['1', 'Col_1', 'Col_2', 'Who has 10.0.2.25? Tell 10.0.2.6']

In [56]:
df = df.drop('1', axis= 1)

In [57]:
df.columns

Index(['Col_1', 'Col_2', 'Who has 10.0.2.25? Tell 10.0.2.6'], dtype='object')

In [52]:
df.Col_2.dtype

dtype('O')

In [54]:
df.Col_2.value_counts()

User Datagram Protocol, Src Port: 5353, Dst Port: 5353     336
User Datagram Protocol, Src Port: 137, Dst Port: 137        81
User Datagram Protocol, Src Port: 64126, Dst Port: 1900     42
User Datagram Protocol, Src Port: 64119, Dst Port: 1900     33
User Datagram Protocol, Src Port: 65164, Dst Port: 3702     14
                                                          ...
User Datagram Protocol, Src Port: 53, Dst Port: 46247        1
User Datagram Protocol, Src Port: 59700, Dst Port: 53        1
User Datagram Protocol, Src Port: 53, Dst Port: 45974        1
User Datagram Protocol, Src Port: 54460, Dst Port: 53        1
User Datagram Protocol, Src Port: 52665, Dst Port: 53        1
Name: Col_2, Length: 377, dtype: int64