In [112]:
import pandas as pd
import numpy as np
import ast

import matplotlib.pyplot as plt
%matplotlib inline

In [113]:
df = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\trabajo_interdisciplinar\simulacro_ataque_26-06.csv', sep = '[→*]', names = ['Col_1', 'Col_2'])
df.head()

                                               Col_1      Col_2
0  1 0.000000000 fe80::f938:4562:98cf:a9e0 â†’ ff...   HTTP/1.1
1  2 3.000458533 fe80::f938:4562:98cf:a9e0 â†’ ff...   HTTP/1.1
2  3 5.202548542 VMware_1b:c1:f4 â†’ Broadcast   ...       None
3  4 5.202548585 VMware_e6:e5:f9 â†’ VMware_1b:c1...       None
4  5 5.202792498     10.0.2.9 â†’ 10.0.2.2     NB...       None

In [114]:
def general_info (df):
    """
                        ---What it does--
    This function checks the info, columns and shape of the df, printing them. Also it checks the presence of NaNs values on the df and prints them in case it founds them.

                        ---What it needs---
    A df object
    """


    # df columns info
    print('-dtype, length and name of columns-')
    print(df.info())
    print()
    print(df.columns)
    print()
    print(df.shape)
    print()

    # Presence of NaNs in df
    need_to_print =  False
    nulls = df.isnull().any()
    print('-Presence of NaNs in df-')
    print (nulls)
    for e in list(nulls):
        if e == True:
            need_to_print = True
    if need_to_print == True:
        print()
        print('-Number of NaNs in df-')
        print (df.isnull().sum() )

In [115]:
general_info(df)

-dtype, length and name of columns-
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17751 entries, 0 to 17750
Data columns (total 2 columns):
Col_1    17751 non-null object
Col_2    226 non-null object
dtypes: object(2)
memory usage: 277.5+ KB
None

Index(['Col_1', 'Col_2'], dtype='object')

(17751, 2)

-Presence of NaNs in df-
Col_1    False
Col_2     True
dtype: bool

-Number of NaNs in df-
Col_1        0
Col_2    17525
dtype: int64

In [116]:
df_1 = pd.DataFrame(df['Col_1'])
df_1.head()

                                               Col_1
0  1 0.000000000 fe80::f938:4562:98cf:a9e0 â†’ ff...
1  2 3.000458533 fe80::f938:4562:98cf:a9e0 â†’ ff...
2  3 5.202548542 VMware_1b:c1:f4 â†’ Broadcast   ...
3  4 5.202548585 VMware_e6:e5:f9 â†’ VMware_1b:c1...
4  5 5.202792498     10.0.2.9 â†’ 10.0.2.2     NB...

In [117]:
splitter = lambda r: list(r.split(' '))

In [118]:
df_1['Col_1'].head()

0    1 0.000000000 fe80::f938:4562:98cf:a9e0 â†’ ff...
1    2 3.000458533 fe80::f938:4562:98cf:a9e0 â†’ ff...
2    3 5.202548542 VMware_1b:c1:f4 â†’ Broadcast   ...
3    4 5.202548585 VMware_e6:e5:f9 â†’ VMware_1b:c1...
4    5 5.202792498     10.0.2.9 â†’ 10.0.2.2     NB...
Name: Col_1, dtype: object

In [119]:
len(df_1.iloc[0,0])

75

In [125]:
def columnist (df, n):
    splitter = lambda r: list(r.split(' '))[n]
    df =  df['Col_1'].apply(splitter)
    return df

In [131]:
df_1['Col_1b'] = columnist(df_1, 1)
df_1['Col_1c'] = columnist(df_1, 2)
df_1['Col_1d'] = columnist(df_1, 4)
df_1['Col_1e'] = columnist(df_1, 5)
df_1['Col_1f'] = columnist(df_1, 6)
df_1['Col_1g'] = columnist(df_1, 7)
df_1['Col_1h'] = columnist(df_1, 8)
df_1['Col_1i'] = columnist(df_1, 9)
df_1

,Col_1,Col_1b,Col_1c,Col_1d,Col_1e,Col_1f,Col_1g,Col_1h,Col_1i
0,1 0.000000000 fe80::f938:4562:98cf:a9e0 â†’ ff...,0.000000000,fe80::f938:4562:98cf:a9e0,ff02::c,,,,,
1,2 3.000458533 fe80::f938:4562:98cf:a9e0 â†’ ff...,3.000458533,fe80::f938:4562:98cf:a9e0,ff02::c,,,,,
2,3 5.202548542 VMware_1b:c1:f4 â†’ Broadcast ...,5.202548542,VMware_1b:c1:f4,Broadcast,,,,ARP,60
3,4 5.202548585 VMware_e6:e5:f9 â†’ VMware_1b:c1...,5.202548585,VMware_e6:e5:f9,VMware_1b:c1:f4,ARP,60,10.0.2.2,is,at
4,5 5.202792498 10.0.2.9 â†’ 10.0.2.2 NB...,5.202792498,,,,10.0.2.9,â†’,10.0.2.2,
...,...,...,...,...,...,...,...,...,...
17746,17747 413.382509166 10.0.2.2 â†’ 10.0.2.6 ...,413.382509166,,,,10.0.2.2,â†’,10.0.2.6,
17747,17748 413.382787045 10.0.2.6 â†’ 10.0.2.25...,413.382787045,,,,10.0.2.6,â†’,10.0.2.255,
17748,17749 414.579266353 10.0.2.6 â†’ 216.58.20...,414.579266353,,,,10.0.2.6,â†’,216.58.209.67,TCP
17749,17750 414.579514510 216.58.209.67 â†’ 10.0.2.6...,414.579514510,216.58.209.67,10.0.2.6,,,,,TCP
17750,17751 415.999257802 fe80::f938:4562:98cf:a9e0 ...,415.999257802,fe80::f938:4562:98cf:a9e0,ff02::c,,,,,

In [129]:
general_info(df_1)

-dtype, length and name of columns-
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17751 entries, 0 to 17750
Data columns (total 5 columns):
Col_1     17751 non-null object
Col_1b    17751 non-null object
Col_1c    17751 non-null object
Col_1d    17751 non-null object
Col_1e    17751 non-null object
dtypes: object(5)
memory usage: 693.5+ KB
None

Index(['Col_1', 'Col_1b', 'Col_1c', 'Col_1d', 'Col_1e'], dtype='object')

(17751, 5)

-Presence of NaNs in df-
Col_1     False
Col_1b    False
Col_1c    False
Col_1d    False
Col_1e    False
dtype: bool